
/* Multi select des destinataires dans les envois de document */
.ui-multiselect {
	width: 60% !important;
	min-width: 550px !important;
}

.ui-multiselect div.selected,.ui-multiselect div.available {
	width: 49.9% !important;
	padding: 0;;
	margin: 0;
}